.EightBall {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    box-shadow: 5px 5px 10px #678;
    margin: auto;
    margin-top: 300px;
    align-items: center;
    color: white;
}

